name: Weekly Windows Self-Hosted Runner Update

on:
  schedule:
  # Every Sunday at 18:19 IST (12:49 UTC)
  - cron: '49 12 * * 0'
  workflow_dispatch:

jobs:
  update-runner:
    name: Update Windows Self-Hosted Runner
    runs-on: [self-hosted, windows]

    steps:
      - name: Show current runner version
        shell: powershell
        run: |
          cd C:\Users\Aayush\OneDrive\Desktop\GitHubRunner\actions-runner.\config.cmd --version

      - name: Stop GitHub Actions runner service
        shell: powershell
        run: |
          Get-Service | Where-Object {$_.Name -like "actions.runner*"} | Stop-Service -Force

      - name: Update GitHub Actions runner
        shell: powershell
        run: |
          cd C:\actions-runner
          .\run.cmd --update

      - name: Start GitHub Actions runner service
        shell: powershell
        run: |
          Get-Service | Where-Object {$_.Name -like "actions.runner*"} | Start-Service

      - name: Install Windows Updates
        shell: powershell
        run: |
          Install-Module PSWindowsUpdate -Force -Confirm:$false
          Import-Module PSWindowsUpdate
          Get-WindowsUpdate -Install -AcceptAll -IgnoreReboot

      - name: Reboot if required
        shell: powershell
        run: |
          if (Get-WURebootStatus -Silent) {
            Write-Output "Reboot required. Restarting..."
            Restart-Computer -Force
          } else {
            Write-Output "No reboot required."
          }
