name: Keep Runner Alive

on:
  schedule: 
    - cron: '15 11 7 1 *'  # Adjust this cron if needed
  workflow_dispatch: # Manual trigger capability

permissions:
  id-token: write
  contents: read

jobs:
  keep_alive:
    runs-on: [self-hosted, windows]
    timeout-minutes: 10

    steps:
      - name: Show runner information
        shell: powershell
        run: |
          Write-Host "Runner Name: $env:RUNNER_NAME"
          Write-Host "Runner OS: $env:RUNNER_OS"
          Write-Host "Temp Directory: $env:RUNNER_TEMP"

      - name: Create temp folder
        shell: powershell
        run: |
         $dir = Join-Path $env:RUNNER_TEMP "keepalive"
         New-Item -Path $dir -ItemType Directory -Force | Out-Null
         echo "KEEPALIVE_DIR=$dir" | Out-File -FilePath $env:GITHUB_ENV -Append
         Write-Host "Working in $dir"
