name: Keep Runner Alive

on:
  schedule: 
  - cron: '15 11 7 1 *'
  workflow_dispatch: # Manual trigger capability

permissions:
  id-token: write
  contents: read

jobs:
  keep_alive:
    runs-on: [self-hosted, windows]
    timeout-minutes: 10
    
    steps:
            
     - name: Show runner information
       shell: pwsh
       run: |
          Write-Host "Runner Name:$env:RUNNER_NAME"
          Write-Host "Runner OS:$env:RUNNER_OS"
          Write-Host"Temp Directory:$env:RUNNER_TEMP"

            $file=Join-Path$env:RUNNER_TEMP"keepalive"
         New-ItemType Directory-Force-Path$dir | Out-Null
         echo "KEEPALIVE_DIR=$dir" | Out-File-FilePath$env:GITHUB_ENV-Append
         Write-Host"Workingindir"
